<div id="divmax">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/imgs/profile-pic.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Profile X</h5>
            <p class="card-text">Objetive X</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Datos objetive X</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Comentarios</a>
            <a href="#" class="card-link">Objetivos</a>
        </div>
    </div>
    <div>
        <app-registers></app-registers>
        <app-comments></app-comments>
    </div>
</div>