<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">User</span>
    <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
    <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default">
</div>
<input class="btn btn-primary" type="submit" value="Login" [routerLink]="['/profile']">
<input class="btn btn-primary" type="button" value="Registrarse" [routerLink]="['/registerform']" id="registerform">